
<div class="parent">
<div class="container text-center py-5">
  <h1>Contact</h1>
  <h4>We are here to assist you! Feel free to contact us through any of the following channels:</h4>

  <div class="d-flex justify-content-center flex-wrap">
    <div class="contact-card">
      <h5>Hotline</h5>
      <a  class="text-primary">+8801612-592761</a>
    </div>
    <div class="contact-card">
      <h5>WhatsApp</h5>
      <a routerLink="/whatsapp" class="text-primary">+8801612-592761</a>
    </div>
  </div>

  <div class="contact-card d-inline-block">
    <h5>Email</h5>
    <a routerLink="/email" class="text-primary">supportchara.com</a>
  </div>

  <h4 class="section-title">PAYMENT METHOD</h4>

  <div class="contact-card d-inline-block">
    <h5>bKash</h5>
    <p class="text-muted">+8801612-592761</p>
  </div>

  <h4 class="section-title">FIND US AT</h4>

  <div class="d-flex justify-content-center flex-wrap">
    <a href="#" class="social-btn facebook">Facebook</a>
    <a href="#" class="social-btn instagram">Instagram</a>
    <a href="#" class="social-btn youtube">YouTube</a>
    <a href="#" class="social-btn linkedin">LinkedIn</a>
    <a href="#" class="social-btn telegram">Telegram</a>
  </div>
</div>
</div>
