<br>
<br>
<div class="parent">
<div class="container my-4 mt-5">
  <h2 class="text-center">Order List</h2>

  <table class="table table-bordered table-striped mt-4">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th>Total Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through the users array to display each user -->
      <tr *ngFor="let order of orderlist; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ order.customerName }}</td>
        <td>{{ order.orderDate }}</td>
        <td>{{ order.totalAmount }}</td>
        
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="edit(order.id)">
              Approval
            </button>

          <button class="btn btn-danger btn-sm" (click)="delete(order.id)">
            Reject
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
