


<div class="parent">
  <div class="product-container">
    <div class="single-pro-image">
      <img src="https://i.postimg.cc/kg9YYbTn/f1.jpg" alt="Men's Fashion T Shirt">
    </div>

    <div class="single-pro-details">
      <h6>Home / T-Shirt</h6>
      <h4>Men's Fashion T Shirt</h4>
      <h2>TK.1750</h2>
      <select>
        <option>Select Size</option>
        <option>XL</option>
        <option>XXL</option>
        <option>Small</option>
        <option>Large</option>
      </select>
     <br>
      <input type="number" value="1">
      <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Mens Fashion T Shirt',price:1750})">Add to cart</button>
      <h4>Product Details</h4>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Dicta natus mollitia necessitatibus perferendis? Deserunt tempore impedit commodi natus
         sint totam possimus, porro doloribus adipisci! Sunt voluptates deserunt illum libero exercitationem
         rerum! Voluptatum quisquam, eos cum ducimus, voluptate voluptas dolore, molestiae accusamus dignissimos
          non itaque? Sunt porro aperiam id tempore illum consequuntur ullam qui. Reprehenderit sequi animi rerum vel
           repellat ducimus sed cupiditate, quasi facere? Ea, consectetur. Dignissimos consequatur exercitationem inventore
            eius modi nihil libero nobis corporis sunt. Nostrum dicta eos minima quas voluptates quis neque vitae,
        inventore doloribus illo possimus ad eius esse optio nobis aut explicabo odit nam sequi!</span>
    </div>
  </div>


  <br>
  <br>

  <section id="newsletter" class="section-p1">
    <div class="newstext">
      <h4>Sign Up for Newsletters</h4>
      <p>
        Get Email updates about our latest shop and <span> special offers.</span>
      </p>
    </div>
    <div class="form">
      <input  type="text" placeholder="Your email address" />
      <button class="btn btn-primary"><a routerLink="/sign-up">SignUp</a> </button>
    </div>
  </section>

<footer class="section-p1">
  <div class="col">
    <a href="#"
      ><img class="logo" src="https://i.postimg.cc/x8ncvFjr/logo.png"
    /></a>
    <h4>Contact</h4>
    <p>
      <strong
        >Address:<strong
          >349, Olorilogbon street, Onigbogbo Lagos</strong
        ></strong
      >
    </p>
    <p><strong>Phone:</strong>+23456876199, +23458903120</p>
    <p><strong>Hours:</strong>10.00 - 18.00, Mon - Sat</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
    </div>
  </div>

  <div class="sec">
    <div class="col">
      <h4>About</h4>
      <a routerLink="/about">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Condition</a>
      <a routerLink="/contact">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a routerLink="/log-in">Sign In</a>
      <a routerLink="/cart">View Cart</a>
      <a href="#">My Account</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track my Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>

      <div class="row">
        <img src="https://i.postimg.cc/Y2s5mLdR/app.jpg" alt="" />
        <img src="https://i.postimg.cc/7YvyWTS6/play.jpg" alt="" />
      </div>
      <p>Secured Payment Gateways</p>
      <img src="https://i.postimg.cc/kgfzqVRW/pay.png" alt="" />
    </div>
  </div>

  <div class="coypright">
    <p>© 2023 All rights reserved! made by Tunrayo</p>
  </div>
</footer>
</div>
