<div class="parent">
  <div class="side-navbar">
    <a href="/collection#wc" class="navbar-link">Women Section</a>
    <a href="/collection#mc" class="navbar-link">Men Section</a>
  </div>
  
<div class="container">
  <h1 id="wc">Women Collection</h1>
  <br>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://img.faballey.com/images/Product/DRS03053Z/1.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans Western </p>
            <span class="dress-card-price">Tk 4,550</span>

            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>
                </div>
                <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
            </div>
          </div>
        
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://www.selectfashion.co.uk/media/catalog/product/s/0/s059_1104_003_khaki-1.jpg?optimize=medium&bg-color=255,255,255&fit=bounds&height=420&width=280&canvas=280:420">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans Western</p>
            <span class="dress-card-price">$45</span>
            <div class="row">
              <div class="col-md-6 card-button">
                  <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>

              </div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7578929/2018/10/23/86988cdc-cbe3-4b13-93f9-b37ad571b4761540274855321-Harpa-Women-Dresses-9171540274855158-1.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">$39 &ensp;</span><span class="dress-card-crossed">$29</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>

            </div>
            <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/7578940/2018/10/23/fe701151-69e6-4e20-9e2a-ace63081a8e11540282217137-Harpa-Women-Dresses-191540282216937-5.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">$39 &ensp;</span><span class="dress-card-crossed">$29</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>

            </div>
            <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
<br>
<br>

<!-- //-----// -->

    <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://img.kwcdn.com/product/Fancyalgo/VirtualModelMatting/fe342db941302d67625070dd7ba75ad4.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a><div class="card-button-inner wish-button"><i class="bi bi-heart-fill cart"></i></div></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://img.kwcdn.com/product/fancy/d59815a4-5b12-4723-9730-18184a9c46a2.jpg?imageMogr2/auto-orient%7CimageView2/2/w/800/q/70/format/webp" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">$39 &ensp;</span><span class="dress-card-crossed">$29</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>

            </div>
            <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://img.ltwebstatic.com/images3_pi/2024/04/11/d8/1712807655d51364696bfcd96bab6f7c7fd0ade100_thumbnail_405x552.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>

            </div>
            <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTITfpXpgtdf5By6o2YMgydI8Mm_S_29R3sg&s" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Womans printed clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">$39 &ensp;</span><span class="dress-card-crossed">$29</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button">
                <button class="card-button-inner bag-button" (click)="addToCart({title:'Cara',para:'Womans Western',price:45})">Add to cart</button>
              </div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
              

              </div>
          </div>
        </div>
      </div>

    </div>

</div>

<br>

<br>
<section id="pagination" class="section-p1">
  <a class="me-2" href="#">1</a>
  <a class="me-2" href="#">2</a>
  <a class="me-2" href="#"><i class="bi bi-arrow-right"></i></a>

</section>
<br>

<!-- //------// -->


<div class="container">
  <h1 id="mc">Men Collection</h1>
  <br>
  <br>
  <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://masculine.com.bd/cdn/shop/files/47_533x.jpg?v=1728299898" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://d26ymvzd0yz7vf.cloudfront.net/uploads/all/4j4zz6oTRKY19KPUCwkVAA43PC7Bz14ACwUESyOD.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://fcity.in/images/products/224629096/o7rp1_512.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a><div class="card-button-inner wish-button"><i class="bi bi-heart-fill cart"></i></div></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://img.drz.lazcdn.com/static/bd/p/016c77475c4a1b0580570a4665dde675.jpg_720x720q80.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>

    </div>
<br>
<br>

    <div class="row">
      <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://www.mydesignation.com/cdn/shop/files/kerala-shirt-918373.jpg?v=1722655636" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://static-01.daraz.com.bd/p/78dcca6d56a0e74f5e8383592ca39084.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://i.pinimg.com/736x/ed/dc/c5/eddcc5ba14e8cc565c4a0c2882fc747e.jpg" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-3">
        <div class="dress-card">
          <div class="dress-card-head">
            <img class="dress-card-img-top" src="https://i5.walmartimages.com/seo/Augper-Men-s-Printing-Button-Casual-Short-Sleeve-Turndown-Collar-Blouse-Shirt_dfb626ea-0ebc-45c4-927e-6a3b5bdb6710.7cf12dcb39f104409028cf741036e980.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="">
            <div class="surprise-bubble"><span class="dress-card-heart">
                <i class="fas fa-heart"></i>
              </span><a href="#"> <span>More</span></a></div>
          </div>
          <div class="dress-card-body">
            <h4 class="dress-card-title">Cara</h4>
            <p class="dress-card-para">Mans clothing</p>
            <p class="dress-card-para"><span class="dress-card-price">Rs.839 &ensp;</span><span class="dress-card-crossed">Rs.2099</span><span class="dress-card-off">&ensp;(60% OFF)</span></p>
            <div class="row">
              <div class="col-md-6 card-button"><a routerLink="/cart"><div class="card-button-inner bag-button">Add to cart</div></a></div>
              <div class="col-md-6 card-button"><a routerLink="/webSocket"><button class="card-button-inner bag-button">FAQ</button></a></div>
            </div>
          </div>
        </div>
      </div>

    </div>

</div>

<br>
<br>

<section id="pagination" class="section-p1">
  <a class="me-2" href="#">1</a>
  <a class="me-2" href="#">2</a>
  <a class="me-2" href="#"><i class="bi bi-arrow-right"></i></a>

</section>

<br><br><br>

<footer class="section-p1">
  <div class="col">
    <a href="#"
      ><img class="logo" src="https://i.postimg.cc/x8ncvFjr/logo.png"
    /></a>
    <h4>Contact</h4>
    <p>
      <strong
        >Address:<strong
          >349, Olorilogbon street, Onigbogbo Lagos</strong
        ></strong
      >
    </p>
    <p><strong>Phone:</strong>+23456876199, +23458903120</p>
    <p><strong>Hours:</strong>10.00 - 18.00, Mon - Sat</p>
    <div class="follow">
      <h4>Follow Us</h4>
      <div class="icon">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
        <i class="fab fa-pinterest-p"></i>
      </div>
    </div>
  </div>

  <div class="sec">
    <div class="col">
      <h4>About</h4>
      <a routerLink="/about">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms and Condition</a>
      <a routerLink="/contact">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a routerLink="/log-in">Sign In</a>
      <a routerLink="/cart">View Cart</a>
      <a href="#">My Account</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track my Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>Install App</h4>
      <p>From App Store or Google Play</p>

      <div class="row">
        <img src="https://i.postimg.cc/Y2s5mLdR/app.jpg" alt="" />
        <img src="https://i.postimg.cc/7YvyWTS6/play.jpg" alt="" />
      </div>
      <p>Secured Payment Gateways</p>
      <img src="https://i.postimg.cc/kgfzqVRW/pay.png" alt="" />
    </div>
  </div>

  <div class="coypright">
    <p>© 2023 All rights reserved! made by Tunrayo</p>
  </div>
</footer>

</div>



