<section>
  <div class="container p-5">
    <h2 class="text-center fs-3 mt-4">Admin dashboard</h2>
    <div class="row p-5">
      <div class="col-md-4 mt-2">
        <a routerLink="/pCreate" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fas fa-plus-square fa-3x text-primary"></i>

              <h4>Add Product</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mt-2">
        <a routerLink="/pCategory" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fa-solid fa-list fa-3x text-warning"></i>

              <h4>Add Category</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mt-2">
        <a routerLink="/pList" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fa-solid fa-book-open fa-3x text-danger"></i>

              <h4>View Product</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mt-5">
        <a routerLink="/orders" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fa-solid fa-box-open fa-3x text-warning"></i>

              <h4>Orders</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mt-5">
        <a routerLink="/uList" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fa-solid fa-circle-user fa-3x text-primary"></i>

              <h4>User</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>

      <div class="col-md-4 mt-5">
        <a routerLink="" class="text-decoration-none">
          <div class="card card-sh">
            <div class="card-body text-center text-primary">
              <i class="fa-solid fa-user-plus fa-3x text-primary"></i>

              <h4>Add Admin</h4>
              <p>-----------------</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
