<div class="parent">
<div class="container" mt-5>
  <div class="sidebar">
      <div class="header">
          <h4><strong>Chats</strong></h4>

      </div>
      <div class="search-bar">
          <input type="text" placeholder="Search or start a new chat">
      </div>
      <div class="chat-list">
          <div class="chat-item">

             <img src="https://i.postimg.cc/x8ncvFjr/logo.png" alt="Contact">
              <div class="chat-info">
                  <strong>Cara-Clothing</strong>
                  <p>Hello Dear!!</p>
              </div>
          </div>
      </div>
  </div>
  <div class="chat-area">
      <div class="header">
          <strong><h4>+880 1612-592761</h4><p>Business-account</p></strong>

          <span><button><i class="bi bi-camera-video"></i></button>
         <button><i class="bi bi-telephone"></i></button>
        <button><i class="bi bi-search"></i></button></span>
      </div>
      <div  class="message-area">
        <img src="https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg" alt="" height="600" width="1500" >

      </div>
      <div class="message-input">
          <input type="text" placeholder="Type a message">
          <button><i class="bi bi-mic"></i></button>
      </div>
  </div>
</div>
</div>
